# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*

# Ignore folders.
.storage
.cloud
.google.token
node-red
appdaemon
www
.uuid
deps
esphome
tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant_v2.db
home-assistant.log
core
plex.conf
alexa_media.pickle
alexa_media*
google_cloud.json
.spotify-token-cache

